// Variables 

$btn-color: #c13cb2;
$hover-color: #5a29dd;
$gradient-color: linear-gradient(90deg, #BF89C3 10%, #5a29dd 100%);


// Style

.btn
{
    background-color: $btn-color;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    border: none;

    &:hover
    {
        background-color: $hover-color;
    }
}


.formulary
{
    background-color: #ECF6FF;
    border-radius: 5px;
    padding: 10px 5px;

    .form-bindput
    {
        //background-color: ;
        opacity: 0.5;
        border-left: 3px solid rgb(250, 24, 115); 

        &:hover
        {
            border-left: 5px solid $hover-color; 
        }
    }
}


.title
{
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #6e6d6d;
}

.inputLabel
{
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background: #BF89C3;
    background: $gradient-color;
    border-radius: 5px;
    color: white;
    padding: 7px;
    width: 100%;
}