//variables

$roundCorners: 8px ;
$description-color: #cccccc;
$title-color: #676767;
$numbers-color: #999999;
$text-color: #bbbbbb;

h2{
    font-weight: bold;
    color: $title-color;
}
.categories{
    background-color: #f9f9f9;
    border-radius: $roundCorners;
    padding: 15px;

}

.category{
    background-color: white;
    border-radius: $roundCorners;
    padding: 8px;
    margin: 4px;

    font-size: 0.7rem;

    width: 100%;
    //min-width: 100px;
        .category__start{

            min-height: 80px;

            h4{
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 0px;
            }

            a{
                text-decoration:none;
                color: $title-color;
            }
            a:hover{
                color: #333333;
            }
            .category__img{
                width: 45px;
            }
            .category__description{
                color: $description-color;
            }
        }
        .category__end{

            line-height: 0.1rem;

            .category__numbers{
                color: $numbers-color;
                font-weight: bold;
                font-size: 0.9rem;
            }
            .category__date{
                color: $numbers-color;
                font-weight: bold;
                font-size: 0.7rem;
            }
            .category__text{
                color: $text-color;
            }
            
        }
}




@media screen and (min-width: 992px){
    
    .category{
        width: 32%;
        min-width: 200px;
    }
    
}