header {
  color: white;
  min-height: 300px;
  background: #c13cb2;
  background: linear-gradient(90deg, rgba(193, 60, 178, 0.6) 10%, rgba(90, 41, 221, 0.6) 100%), url(../images/backgroundwebsite.jpeg);
  background-size: cover;
  background-position: center;
}
header .head {
  position: relative;
}
header .head .registerLogin {
  min-height: 100px;
}
header .head .registerLogin a {
  text-decoration: none;
  color: white;
}
header .head .registerLogin a:visited {
  text-decoration: none;
  color: white;
}
header .head .registerLogin a:hover {
  text-decoration: none;
  color: #aaaaaa;
}
header .head .main-title {
  min-height: 200px;
}
header .head .main-title h1 {
  font-weight: 400;
  font-size: 3rem;
}

.background {
  background-color: #eaf0f1;
  z-index: 1;
}

main {
  background-color: white;
  border-radius: 8px;
  min-height: 800px;
  padding: 15px 15px;
  z-index: 2;
  margin-top: -40px;
  margin-bottom: -30px;
}
main .main__arianne {
  color: #6b6b6b;
}
main .main__arianne a {
  text-decoration: none;
  color: #6b6b6b;
}
main .main__arianne a:visited {
  text-decoration: none;
  color: #6b6b6b;
}
main .main__arianne a:hover {
  text-decoration: none;
  color: #333333;
}

.content {
  margin-bottom: 50px;
}

.social {
  color: white;
  background: #c13cb2;
  background: linear-gradient(90deg, #c13cb2 10%, #5a29dd 100%);
  height: 150px;
  z-index: 1;
}
.social .social__logo {
  border: 2px solid white;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  margin: 6px;
  text-align: center;
  font-size: 1.2rem;
}
.social a {
  text-decoration: none;
  color: white;
}
.social a:visited {
  text-decoration: none;
  color: white;
}
.social a:hover {
  text-decoration: none;
  color: #aaaaaa;
}
.social a:hover .social__logo {
  border: 2px solid #aaaaaa;
}

footer {
  background-color: #31323c;
  color: white;
  min-height: 50px;
  font-size: 0.9rem;
}
footer a {
  text-decoration: none;
  color: #c13cb2;
}
footer a:visited {
  text-decoration: none;
  color: #c13cb2;
}
footer a:hover {
  text-decoration: none;
  color: #5a29dd;
}

.main-search {
  width: 100%;
  display: flex;
}
.main-search .searchTerm {
  width: 70%;
  border: 2px solid #cfcfcf;
  border-right: none;
  padding: 5px;
  padding-left: 15px;
  height: 36px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: #333333;
  background-color: #f4f4f4;
  font-size: 0.8rem;
}
.main-search .searchTerm:focus {
  color: #333333;
}
.main-search .searchButton {
  width: 15%;
  height: 36px;
  border: 2px solid #cfcfcf;
  background: #f4f4f4;
  text-align: center;
  color: #7b7b7b;
  cursor: pointer;
  font-size: 0.8rem;
}
.main-search .searchButton:hover {
  color: #333333;
}
.main-search .searchOption {
  width: 15%;
  height: 36px;
  border: 2px solid #cfcfcf;
  border-left: none;
  background: #f4f4f4;
  text-align: center;
  color: #7b7b7b;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 0.8rem;
}
.main-search .searchOption:hover {
  color: #333333;
}

.border {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 5px;
  width: 100%;
  background: #c13cb2;
  background: linear-gradient(90deg, #c13cb2 10%, #5a29dd 100%);
}

.aside-login {
  color: #6b6b6b;
  font-size: 0.8rem;
}
.aside-login .aside-login__title {
  font-weight: bold;
  font-size: 0.9rem;
}
.aside-login .aside-login__input {
  font-size: 0.8rem;
  border-radius: 20px;
  background: #f4f4f4;
}
.aside-login .aside-login__btn {
  width: 100%;
  border-radius: 20px;
  background: #c13cb2;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  margin-top: 15px;
}
.aside-login .aside-login__btn:hover {
  background: #5a29dd;
}

.user {
  color: #6b6b6b;
}
.user a {
  text-decoration: none;
  color: #c13cb2;
}
.user a:visited {
  text-decoration: none;
  color: #c13cb2;
}
.user a:hover {
  text-decoration: none;
  color: #5a29dd;
}

@media screen and (min-width: 992px) {
  .registerLogin {
    position: absolute;
    right: 10px;
    top: 40px;
  }

  header {
    min-height: 250px;
  }
  header .main-title {
    min-height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */


/* style for last_post */

.banner-aside {
  padding: 1em;
  border-radius: 0.8em 0.8em 0em 0em;
  background: linear-gradient(90deg, #b06ab3 0%, #4668dc 100%);
  color: seashell;
  font-size: 15px;
  font-weight: bold;
}

.last-posts__title{

}

.last-posts__time-diff{
  font-size: 0.6rem;
}

.last-posts__post-content{
  font-size: 0.8rem;
}



/* style for last_active_users */
.last-active-users{
  
}

.last-active-users__avatar-img{
  width: 2.5rem;
}

.last-active-user__name{
  font-size: 0.8rem;
}

.last-active-user__signature{
  font-size: 0.8rem;
}