//Variables

$pink: #c13cb2;
$blue: #5a29dd;
$footer-background: #31323c;
$page-background: #eaf0f1;

$gradient1: rgb(193,60,178);
$gradient2: linear-gradient(90deg, rgba(193,60,178,1) 10%, rgba(90,41,221,1) 100%);
$gradient3: linear-gradient(90deg, rgba(193,60,178,0.6) 10%, rgba(90,41,221,0.6) 100%);

//Add these two lines where you need the gradient
//background: $gradient1;
//background: $gradient2;

//$gradient3 is the same than 2 with transparency



//Style

header{
    color: white;
    min-height: 250px;
    background: $gradient1;
    background: $gradient3, url(../images/backgroundwebsite.jpeg);
    background-size: cover;
    background-position: center;


    .head{
        position: relative;

        .registerLogin{
            position: absolute;
            right: 10px;
            top: 40px;
        }
        .main-title{
            min-height: 250px;

            h1{
                font-weight: 400;
                font-size: 3rem;
            }
        }
    }
    
}

//.container{
//    max-width: 1200px;
//    margin: auto;
//}

.background{
    min-height: 800px; //temporary!
    background-color: $page-background;

    z-index: 1;
    position: relative;
}

main{
    background-color: white;
    border-radius: 8px;
    min-height: 800px; //temporary!
    width: 90%;

    z-index: 2;
    position: absolute;
    top: -40px;
    bottom: -20px;
}


.social{
    color: white;
    background: $gradient1;
    background: $gradient2;

    height: 150px;

    z-index: 1;
    
    .fa{
        border: 1px solid white;
        border-radius: 50%;
        padding: 7px 10px;
    }
}

footer{
    background-color: $footer-background;
    color: white;
    min-height: 50px;

    font-size: 0.9rem;

    a{
        text-decoration: none;
        color: $pink;
    }
    a:visited{
        text-decoration: none;
        color: $pink;
    }
    a:hover{
        text-decoration: none;
        color: $blue;
    }
}