//Variables

$pink: #c13cb2;
$blue: #5a29dd;
$footer-background: #31323c;
$page-background: #eaf0f1;
$text-grey: #6b6b6b;

$gradient1: rgb(193,60,178);
$gradient2: linear-gradient(90deg, rgba(193,60,178,1) 10%, rgba(90,41,221,1) 100%);
$gradient3: linear-gradient(90deg, rgba(193,60,178,0.6) 10%, rgba(90,41,221,0.6) 100%);

//Add these two lines where you need the gradient
//background: $gradient1;
//background: $gradient2;

//$gradient3 is the same than 2 with transparency



//Style

header{
    color: white;
    min-height: 250px;
    background: $gradient1;
    background: $gradient3, url(../images/backgroundwebsite.jpeg);
    background-size: cover;
    background-position: center;


    .head{
        position: relative;

        .registerLogin{
            position: absolute;
            right: 10px;
            top: 40px;

            a{
                text-decoration: none;
                color: white;
            }
            a:visited{
                text-decoration: none;
                color:white;
            }
            a:hover{
                text-decoration: none;
                color: #aaaaaa;
            }
        }
        .main-title{
            min-height: 250px;

            h1{
                font-weight: 400;
                font-size: 3rem;
            }
        }
    }
    
}




.background{
    min-height: 800px; //temporary!
    background-color: $page-background;

    z-index: 1;
    position: relative;
}

main{
    background-color: white;
    border-radius: 8px;
    min-height: 800px; //temporary!
    padding: 15px 15px;
    //width: 90%;

    z-index: 2;
    position: absolute;
    top: -40px;
    bottom: -20px;

    .main__arianne{
        color: $text-grey;
        a{
            text-decoration: none;
            color: $text-grey;
        }
    }
}


.social{
    color: white;
    background: $gradient1;
    background: $gradient2;

    height: 150px;

    z-index: 1;
    
    .social__logo{
        border: 2px solid white;
        border-radius: 50%;
        height: 38px;
        width: 38px;
        margin: 6px;

        text-align: center;

        font-size: 1.2rem;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:visited{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: #aaaaaa;
        .social__logo{
            border:2px solid #aaaaaa;
        }
    }
}

footer{
    background-color: $footer-background;
    color: white;
    min-height: 50px;

    font-size: 0.9rem;

    a{
        text-decoration: none;
        color: $pink;
    }
    a:visited{
        text-decoration: none;
        color: $pink;
    }
    a:hover{
        text-decoration: none;
        color: $blue;
    }
}